DATABASE_URL=postgresql://postgres:postgres123@db:5432/fixmycity
PORT=3000
JWT_SECRET_KEY=xxxx
FRONTEND_ORIGIN=https://your-app.azurestaticapps.net
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx